
body {
/* background: rgb(45, 44, 44); */
background: #201824
  }

/* HEADER */
.headNavLinks {
    text-decoration: none;
    list-style: none;
    color:inherit
}
/* HOME PAGE */
.homeImage {
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-image: url(../assets/social.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items:center;
    /* color: white; */
    
}
.homeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 4rem;
    margin-left: 6rem;
    padding: 0px;
    font-size: 2rem;
}

.css-1mba6s8-MuiGrid-root {
    padding: 10px!important
}
/* PAGES */
.pageBackground {
    background-image: url(../assets/social.avif);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 100vh;
}
.pageTitle {
    color: blue;
}
/* CHAT PAGE */
.myText {
    color: white;
    justify-content: flex-end;

}
.theirText {
    align-items: start;
}
.myBubble {
    color: white;
    background-color: #45235f;
}
.theirBubble {
background-color: rgb(162, 161, 161);
}
.homeP {
    color: white;
    margin: 0px;
    padding: 0px;
}
.activeChat {
    border: .2rem solid purple
}

/* Sweet Alert */
.swal2-container {
    z-index: 1000001
}

/* Media Queries */
@media (width>600px){
    .homeTitle {
        font-size: 3rem;
        margin-left: 9rem;
    }
}
@media (width>900px) {
    /* .homeImage{
        background-image: url(../assets/horsetooth-land.avif)
    } */
    .homeTitle{
        font-size: 6rem;
        margin-left: 20rem;
    }
    
}